<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serving Static files</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="card">
        <h2>Welcome to demo API</h2>
        <p>This is demo movie API built using express JS and a json file as a data source.</p>
        <P>This is a simple demo HTML page to demo serving stativc files.</P>
    </div>
</body>
</html>